<a href="https://colab.research.google.com/github/19PA1A0538/ensemble-methods-classification/blob/master/Untitled17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
from sklearn.model_selection  import train_test_split
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics

In [2]:
fi=pd.read_csv('diabetes.csv')
fi

     Pregnancies  Glucose  ...  Age  Outcome
0              6      148  ...   50        1
1              1       85  ...   31        0
2              8      183  ...   32        1
3              1       89  ...   21        0
4              0      137  ...   33        1
..           ...      ...  ...  ...      ...
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[768 rows x 9 columns]

In [3]:
fi.isna().any

<bound method DataFrame.any of      Pregnancies  Glucose  ...    Age  Outcome
0          False    False  ...  False    False
1          False    False  ...  False    False
2          False    False  ...  False    False
3          False    False  ...  False    False
4          False    False  ...  False    False
..           ...      ...  ...    ...      ...
763        False    False  ...  False    False
764        False    False  ...  False    False
765        False    False  ...  False    False
766        False    False  ...  False    False
767        False    False  ...  False    False

[768 rows x 9 columns]>

In [4]:
fi.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [0]:
x=fi[["Pregnancies","Glucose","BloodPressure","SkinThickness","Insulin","BMI","DiabetesPedigreeFunction","Age"]]	
y=fi[["Outcome"]]

In [0]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

Let us apply random forest classifier and find out the accuracy

In [0]:
rdf=RandomForestClassifier(n_estimators=100)

In [8]:
model=rdf.fit(x_train,y_train)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

In [0]:
y_pred1=model.predict(x_test)

In [10]:
print("Accuracy :",metrics.accuracy_score(y_test,y_pred1))

Accuracy : 0.7662337662337663

now,let us use decision tree classifier on our data set

In [0]:
dtc=DecisionTreeClassifier()

In [0]:
model2=dtc.fit(x_train,y_train)

In [0]:
y_pred2=model2.predict(x_test)

In [15]:
print("Accuracy :",metrics.accuracy_score(y_test,y_pred2))

Accuracy : 0.7597402597402597

applying adaboost classifier

In [0]:
abc=AdaBoostClassifier()

In [17]:
model3=abc.fit(x_train,y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [0]:
y_pred3=model3.predict(x_test)

In [19]:
print("Accuracy :",metrics.accuracy_score(y_test,y_pred3))

Accuracy : 0.7337662337662337

AdaBoost is easy to implement. It iteratively corrects the mistakes of the weak classifier and improves accuracy by combining weak learners. You can use many base classifiers with AdaBoost. AdaBoost is not prone to overfitting.

Decision tree builds classification or regression models in the form of a tree structure

Random Forest increases predictive power of the algorithm and also helps prevent overfitting. Random forest is the most simple and widely used algorithm.

here,in this case ,as the data set taken is really simple,we get nearly equal accuracy but in real life examples it will not be the same.